## 1) file.txt => file.csv

In [1]:
import pandas as pd

In [2]:
with open('data/20200714_meeting_saved_chat.txt') as f:
    lines = f.readlines()

In [3]:
data = []
time, name, comment = '', '', ''
for i, l in enumerate(lines):
    if '\t From  ' in l:
        if i > 0:
            data.append([time, name, comment])
        time = l.split('\t')[0]
        name = l.split('\t')[1].split(':')[0].replace('From', '').strip()
        comment = l.split('\t')[1].split(':')[1].strip()
    elif i > 0:
        comment += ' ' + l.strip()
data.append([time, name, comment])

In [4]:
df = pd.DataFrame(data, columns=['time', 'name', 'comment'])

In [5]:
df.to_csv('data/20200714_meeting_saved_chat.csv', index=False)

## 2) Keywords heuristics

In [44]:
pd.set_option('display.max_rows', 500)
pd.set_option('max_colwidth', None)

In [170]:
saludos = ['i.e.p', 'ugel', ' ie', 'i.e', 'saludos', 'ciudad ', 'region', 'región', 'hola', 'presente', 'buenas']
asuntos_tecnicos = ['audio', 'escucha', 'camara', 'dejen de', 'ppt', 'link', 'facebook']
apreciaciones = ['excelente', 'interesante', 'gracias']
reflexiones = ['']
consultas = ['?', 'quisiera saber']
# anecdotas?

In [171]:
def filter_data(data, keywords):
    data_keywords = data[data.comment.apply(lambda c: any(k in c.lower() for k in keywords))]
    data_complement = data[~data.comment.apply(lambda c: any(k in c.lower() for k in keywords))]
    return data_keywords, data_complement

In [172]:
data.name.nunique()

112

In [173]:
data = df.copy()

data_consultas, data = filter_data(data, consultas)
len(df), len(data_consultas), len(data)

(677, 36, 641)

In [174]:
data_apreciaciones, data = filter_data(data, apreciaciones)
len(df), len(data_apreciaciones), len(data)

(677, 133, 508)

In [175]:
data_saludos, data = filter_data(data, saludos)
len(df), len(data_saludos), len(data)

(677, 277, 231)

In [176]:
data_asuntos_tecnicos, data = filter_data(data, asuntos_tecnicos)
len(df), len(data_asuntos_tecnicos), len(data)

(677, 33, 198)

In [177]:
len(data) / len(df)

0.29246676514032494

In [180]:
data.head().style.set_properties(**{'text-align': 'left'})

## 3) Manual verification
Excel / google spreadsheets may be enough